<%= form_for @event do |f| %>
  
  <% if @event.errors.any? %>
  <div id="error_explanation">
    <h3><% pluralize(@event.errors.count, "error") %> prohibited this event from being created: </h3>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
    </ul>
  </div>
  <%end%>

  <div class="container">
  <div class="well">
    <%= f.label :New_Event %>
    <%= f.text_field :title %>
  </div>
 
  <div class="well">
    <%= f.label :Color %>
    <%= f.text_field :color, class: "icolor" %>
  </div>
 
 <div class="well">
  <%= f.label :Start %>
  <%= f.text_field :start, class: "input-append date form_datetime",'id'=> 'p1' %>
 </div>

<div class="well">
  <%= f.label :End %>
  <%= f.text_field :end, class: 'input-append date form_datetime', 'id'=> 'p2' %>
 </div>

 <div class="well">
    <%= f.label :All_day %>
    <%= f.check_box :allDay %>
 </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>

<script type="text/javascript">
  
  $(function(){$('#p1,#p2').datetimepicker({
    format: "yyyy MM dd - hh:ii"
  });});

  $(function(){$('.icolor').minicolors()});

</script>