<!--Confirmation page -->
<div class="well">
	<p>
		<h4> Event: </h4>
		<%= @event.title %>
	</p>
	<p>
		<h4> Date & time </h4>
		<p>
			<strong> Start:</strong>
			<%= @event.start %>
		</p>
		<p>
			<strong> End:</strong>
			<%= @event.end %>
		</p>
		<!-- link back to the homepage -->
		<%= link_to 'Confirm', events_path %>
			<%= link_to 'Edit', edit_event_path(@event) %>
				<%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?'} %>
</div>